
<div class='container-fluid'>
  <div class="row" style="padding: 1%;">
    <div class="col">
      <i class="fa-solid fa-quote-left fa-2xl" style="color: bisque"></i>
    </div>
    <div class="col">
      <h4 style="color: white">PaQ <span style="color: yellow; margin-left: 5%">Post & Vote for Quotes</span></h4>
    </div>
    <div class="col">
      <i class="fa-solid fa-quote-right fa-2xl" style="color: bisque"></i>
    </div>
  </div>
  <div class="w3-bar w3-sand" style="padding: 0.5%;">
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-blue">Popular Quotes</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-blue">New Quotes</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-blue"> Post Quote</a>
  </div>
</div>
