
<div class='container-fluid'>
  <div style="display: flex; flex-direction: row; padding: 1%;">
    <div>
      <i class="fa-solid fa-quote-left fa-2xl" style="color: bisque;"></i>
    </div>
    <div>
      <h4 style="color: yellow;font-size: 1rem; margin: 10px;">Post & Vote for Quotes</h4>
    </div>
    <div>
      <i class="fa-solid fa-quote-right fa-2xl" style="color: bisque;"></i>
    </div>
    </div>
      <div class="w3-bar w3-sand" style="padding: 0.5%;">
        <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-blue">Popular Quotes</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-blue">New Quotes</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-blue"> Post Quote</a>
      </div>
</div>
<app-new-quotes></app-new-quotes>